<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>app</title>
</head>
<body>

<strong>
<a href="http://127.0.0.1:5000/">sg_time</a>
</strong>
<br>
<br>
page: {{rows.page}}
<br>
total: {{rows.total}}
<br>
<br>

<style>
table, th, td {
  border-collapse: collapse;
  border:0.5px solid black;
  text-align: center;
  vertical-align: middle;
}
}
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Avatar</th>
    </tr>
     <!-- if the data is in array format -->
    {% for row in rows.data %}
    <tr>
        {% if row.first_name == "George" %}
        <td><p style="background-color:Tomato;">{{row.first_name}}</p></td>
        <td><p style="background-color:Tomato;">{{row.email}}</p></td>
        <td><p style="background-color:Tomato;"><a href="{{row.avatar}}">{{row.avatar}}</a></p></td>
        {% elif row.first_name == "Janet" %}
        <td><p style="background-color:MediumSeaGreen;">{{row.first_name}}</p></td>
        <td><p style="background-color:MediumSeaGreen;">{{row.email}}</p></td>
        <td><p style="background-color:MediumSeaGreen;"><a href="{{row.avatar}}">{{row.avatar}}</a></p></td>
        {% else %}
        <td><p style="background-color:DodgerBlue;">{{row.first_name}}</p></td>
        <td><p style="background-color:DodgerBlue;">{{row.email}}</p></td>
        <td><p style="background-color:DodgerBlue;"><a href="{{row.avatar}}">{{row.avatar}}</a></p></td>
        {% endif %}
    </tr>
    {% endfor %}
    <!-- if the data is in dictionary format -->
    <!--
    {% for key, value in rows.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{value.project_name}}</td>
        <td>{{value.project_key}}</td>
    </tr>
    {% endfor %}
    -->

</table>
</body>
</html>